/*------------------------------------*\
  Bcksp.es - Extension
  @authors Crucifix Arnaud (hello@crucifixarnaud.com)
\*------------------------------------*/

body,
html, 
#app {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  width: 100%;
  height: 100%;
  background: #161b22;
}

body {
  font-size: 11px;
  color: #fed;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*------------------------------------*\
  > Popup
\*------------------------------------*/

.mixTube-popup {
  position: relative;
  font-family: "GT Pressura Mono Trial", monospace;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.mixTube-title-bar{
  height: 25px;
  position: relative;
  text-align: center;
}

.mixTube-texture-bar{
  background: radial-gradient(#fed 3%, transparent 14%) 0px 0px, radial-gradient(#fed 5%, transparent 8%) 0px 5px, radial-gradient(#fed 7%, transparent 6%) 5px 2px, radial-gradient(#fed 9%, transparent 4%) 10px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-size: auto, auto, auto, auto;
  background-color: transparent;
  background-size: 8px 8px;
  height: 10px;
  width: 100%;
  display: block;
  width: calc(100% - 23px);
}
.mixTube-title-bar-title{
  position: absolute;
  top: 0;
  text-align: center;
  background: #161b22;
  padding: 0 20px;
  transform: translate(-50%, 0) skew(-8deg, -4deg);
  font-size: 1.2em;
  height: 9px;
}

.mixTube-title-bar-close{
  border: none;
  background: transparent;
  color: #fed;
  position: absolute;
  top: -4px;
  right: 7px;
  padding: 0;
  cursor: pointer;
}

.mixTube-element{
  flex: 1 1 auto;
}

.mixTube-channels{
  display: flex;
  flex-flow: row;
  height: calc( 100% - 50px);
}

.mixTube-mixer{
  flex: 0 1 auto;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}



input[type=range]:hover{
  cursor: ew-resize;
}

.mixTube-tarcklist-seek-bar{
  height: 4px;
  display: flex;
}

.mixTube-tarcklist-seek-bar input[type=range]{
  width: 100%;
  background: transparent;
  margin: 0;
  height: 100%;
}

.mixTube-tarcklist-seek-bar input[type=range]::-webkit-slider-runnable-track{
  background: #fed;
  height: 100%;
}
.mixTube-tarcklist-seek-bar input[type=range]::-webkit-slider-thumb{
   background: transparent;
  border: none;
}

.mixTube-tarcklist-seek-bar input[type=range]::-moz-range-track{
  background: #fed;
  height: 100%;
  opacity: 0.3;
}
.mixTube-tarcklist-seek-bar input[type=range]::-moz-range-thumb{
  background: transparent;
  border: none;
}
.mixTube-tarcklist-seek-bar input[type=range]::-moz-range-progress{
  background: #fed;
  height: 100%;
}

.mixTube-tarcklist-seek-bar input[type=range]::-ms-trac{
  
}
.mixTube-tarcklist-seek-bar input[type=range]::-ms-thumb{
  
}
.mixTube-tarcklist-seek-bar input[type=range]::-ms-tooltips{
  
}
.mixTube-tarcklist-seek-bar input[type=range]::-ms-fill-lower{
  
}
.mixTube-tarcklist-seek-bar input[type=range]::-ms-fill-upperr{
  
}

.mixTube-tarcklist-item{
  position: relative;
  width: calc(100% - 14px);
}



.mixTube-tarcklist-item-play-pause, 
.mixTube-tarcklist-item-cue{
  width: 25px;
  height: 25px;
}
.mixTube-tarcklist-item-play-pause button,
.mixTube-tarcklist-item-cue button{
  border: none;
  background: transparent;
  color: #fed;
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.mixTube-tarcklist-item-title{
  width: 100%;
  align-items: center;
  display: flex;
}

.muted{
  text-decoration: wavy line-through red;
}

.mixTube-tarcklist-item-title span{
  display: inline-block;
  padding: 0 20px;
}
.mixTube-tarcklist-item-menu{
 width: 25px; 
}
.mixTube-mixer input[type=range]{
  width: calc(100% - 50px);
  margin: 0;
  background: transparent;
  height: 100%;
}
.mixTube-mixer input[type=range]::-webkit-slider-runnable-track{
  background: #fed;
  height: 2px;
  opacity: 0.3;
}
.mixTube-mixer input[type=range]::-webkit-slider-thumb{
  border-radius: 0;
  border: none;
  background: #fed;
}

.mixTube-mixer input[type=range]::-moz-range-track{
  background: #fed;
  height: 2px;
  opacity: 0.3;
}
.mixTube-mixer input[type=range]::-moz-range-thumb{
  border-radius: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/mixTube.cursor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mixTube-mixer input[type=range]::-moz-range-progress{
  background: transparent;
}

.mixTube-mixer input[type=range]::-ms-trac{
  
}
.mixTube-mixer input[type=range]::-ms-thumb{
  
}
.mixTube-mixer input[type=range]::-ms-tooltips{
  
}
.mixTube-mixer input[type=range]::-ms-fill-lower{
  
}
.mixTube-mixer input[type=range]::-ms-fill-upperr{
  
}

.mixTube-subMenu{
  position: absolute;
  right: 0;
  background: rgba(9, 12, 15, 0.75);
  z-index: 1;
  padding: 5px;
  width: 100px;
  overflow: hidden;
  text-align: right;
}

.mixTube-subMenu li:first-child{
  display: flex;
  flex-flow: row;
}
.mixTube-subMenu li:first-child button{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mixTube-subMenu button{
  width: 100%;
  border: none;
  background: transparent;
  color: #fed;
  text-transform: uppercase;
  cursor: pointer;
  height: 25px;
}

.mixTube-menu-btn{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  cursor: pointer;
}
.mixTube-menu-btn div{
  height: 2px;
  background-color: #fed;
  margin: 2px 0;
  width: 20px;
}

.mixTube-subMenu input[type=range]{
  width: 100%;
  background: transparent;
}
.mixTube-subMenu input[type=range]::-moz-range-track{
 background: #fed;
}
.mixTube-subMenu input[type=range]::-moz-range-thumb{
 border-radius: 0;
  border: none;
  background: #fed;
  width: 5px;
}
.mixTube-subMenu input[type=range]::-moz-range-progress{
 background: transparent;
}
.mixTube-subMenu-speed{
  position: relative;
}
.mixTube-subMenu-speed:after{
  position: absolute;
  content: '¼ ½ 3/4 1 5/4 2 4';
  word-spacing: 3.7px;
  left: 2px;
  top: 19px;
  font-size: 0.7em;
}

.mixTube-subMenu-speed div:after{
  position: absolute;
  content: '| | | | | | |';
  word-spacing: 7.2px;
  top: 6px;
  color: white;
  font-size: 0.7em;
  z-index: -1;
  left: 0;
}
.mixTube-channel {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  max-width : 50%;
}

.mixTube-tarcklist{
  color: #fed;
  flex: 1 1 auto;
  overflow: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mixTube-tarcklist > li > ul{
  display: flex;
  flex-flow: row;
}

.mixTube-tarcklist > li > ul > li {
  white-space: nowrap;
  overflow: hidden;
}
.mixTube-tarcklist > li:nth-child(2n-1):not(:last-child){
  background-color: rgba(255, 255, 255, 0.1);
}


.mixTube-channel-left .mixTube-goLeft,
.mixTube-channel-right .mixTube-goRight{
  display: none;
}

.mixTube-controller{
  flex: 0 1 auto;
  height: 25px;
}

/*.mixTube-element:not(:last-child){
  border-bottom: solid 1px #fed;
}*/

.mixTube-channel:not(:last-child){
  border-right: solid 1px #fed;
}

.mixTube-tarcklist-add {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  height: 50px;
}
.mixTube-tarcklist-add button {
  border: none;
  background: transparent;
  color: #fed;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: transform 0.5s;
  transform-origin: center center;
  justify-content: center;
  display: flex;
}
.mixTube-tarcklist-add button:hover{
  transform: rotate(90deg);
}


.bcksp-popup__container {
  background: #fff;
  border: 1px solid #000;
  position: relative;
  z-index: 1000;
  position: relative;
  z-index: 1001;
}

.bcksp-popup__header,
.bcksp-popup__body {
  margin: 1.25rem;
}

.bcksp-popup__header {
  border-bottom: 3px solid #000;
  padding-bottom: 1.0625rem;
}

.bcksp-popup__content {
  margin-top: 13px;
}

.bcksp-popup__footer {
  margin: 1.125rem 1.25rem;
}

.bcksp-popup__container,
.bcksp-popup__border-decoration {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
}

.bcksp-popup__border-decoration {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background: #fff;
  z-index: 999;
}

.bcksp-popup .bcksp-popup__border-decoration:nth-child(1) {
  top: 4px;
  left: 4px;
}

.bcksp-popup .bcksp-popup__border-decoration:nth-child(2) {
  top: 2px;
  left: 2px;
}

/*------------------------------------*\
  > Forms
\*------------------------------------*/

.field {
  margin-bottom: 10px;
}

.field__label {
  display: block;
  text-align: left;
  font-size: .8125rem;
  color: #231f20;
  margin-bottom: 6px;
}

.field__label::first-letter {
  text-transform: uppercase;
}

.input--text {
  border-radius: 2px;
  border: 1px solid #bdbdbd;
  width: 100%;
  line-height: 1.75;
}

.error-message {
  color: #FF0040;
  font-size: .8125rem;
}

/*------------------------------------*\
  > Typography
\*------------------------------------*/

.bcksp-popup p {
  font-size: .8125rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.bcksp-popup a {
    color: #000;
    font-size: .8125rem;
    background-color: transparent;
    text-decoration: underline;
}

.bcksp-popup a:hover,
.bcksp-popup a:focus {
  text-decoration: none;
  background-color: #fff123;
}

.bcksp-popup a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}

/*------------------------------------*\
  > Buttons
\*------------------------------------*/

.button {
  cursor: pointer;
  border: 0;
  background: transparent;
  appearance: none;
}

.button--secondary {
  display: inline-block;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  padding: .5rem 1.125rem .375rem;
  text-transform: uppercase;
  font-family: "GT Pressura Mono Trial", monospace;
  font-size: 1rem;
  transition: background .2s cubic-bezier(.645, .045, .355, 1);
  text-decoration: none;
}

.button--secondary:hover:not([disabled]),
.button--secondary:focus:not([disabled]) {
  color: #fff;
  text-decoration: none;
  background: #000;
}

.button--secondary:active:not([disabled]) {
  background: #000;
}

.button--text {
  line-height: 1.5;
  padding: 0;
  color: #000;
  font-size: .8125rem;
  background-color: transparent;
  text-decoration: underline;
}

.button--text:hover,
.button--text:focus {
  text-decoration: none;
  background-color: #fff123;
}

/*------------------------------------*\
  > User Menu
\*------------------------------------*/

.bcksp-popup__user-menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.bcksp-popup__user-menu-button {
  word-break: break-word;
  border-radius: 0;
  height: 100%;
}

.bcksp-popup__user-menu-item + .bcksp-popup__user-menu-item {
  border-left: 1px solid #fff;
}

/*------------------------------------*\
  > Goal
\*------------------------------------*/

.bcksp-popup__goal {
  margin-bottom: 10px;
}

/*------------------------------------*\
  > Counter
\*------------------------------------*/

.bcksp-popup__counter {
  height: 9px;
  overflow: hidden;
  max-width: 100%;
}

.bcksp-popup__counter-foreground {
  background: #fff123;
  height: 100%;
}

/*------------------------------------*\
  > Extension-link
\*------------------------------------*/

.bcksp-popup__extension-link {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.button--extension-link {
  border-radius: 0;
  width: 100%;
  text-align: center;
}
